@charset "utf-8";
.quick_m {max-width:1260px;}
.old_browser .quick_m {width:1260px}

header .keyword {position:absolute;  top:53px; width:422px !important; margin-left:146px;}
footer .keyword {position:absolute;  bottom:40px; left:50%; margin-left:-237px; width:421px !important; padding:29px 0 0 0; border-bottom:none;}
footer .choose_word { position:absolute; top:0; left:0; width:100%; height:16px; margin-top:0; padding:9px 0 0 0; background:#f4f4f4; font-size:11px; border-top:1px solid #848587;}

.in_header {padding:17px 0 17px 160px; max-width:1120px;margin:0 auto}
.old_browser .in_header {width:1120px}
.in_header h1 {margin:0 auto; position:relative; height:100%; float:left} /* 로고 위치조정 */ 
.in_header h1 a {width:126px; height:40px; background:url(../images/logo.jpg);}
/* .in_header h1 {top:5px; left:20px;} *//* 로고 위치조정 */
/* .in_header h1 a {width:120px; height:40px; background:url(../images/logo.png);} */


.middle_wrapper {border-right:1px solid #e1e1e1; padding:0 218px 0 159px;}

.serch {height:39px; width:399px; padding:4px 74px 0 5px; float:left; top:50%; display:block; margin-left:20px;}
.serch .in_txt {height:31px;padding-left:4px;}

.in_footer {max-width:1280px;}
.copy {max-width:1280px;}
.in_footer .serch {padding:4px 0 0 12px; width:468px; margin:0 auto;}
.old_browser .in_footer {width:1280px;}

#container {background-color:#f4f4f4; max-width:1280px; margin:0 auto}
.old_browser  #container {width:1280px;}

/* nav_filter */
.nav_filter {position:absolute; top:0; left:0; width:160px; z-index:10;}

nav {position:relative; font-family:"돋움",dotum;}
nav ul {display:block !important;}
nav li{border-bottom:1px solid #38599c; border-right:1px solid #17408c;}
nav li.first{border-top:1px solid #17408c;}
nav li a{background:#4a6ea9; font-weight:bold; color:#fff; display:block; padding:9px 0 5px 19px; line-height:18px;}
nav li a:hover, nav li a:active {background:#758ebb;}
nav li.selected {border-right:none; border-bottom:1px solid #17408c;}
nav li.selected.first{margin-top:1px; border-top:none;}
nav li.nav_more a {background-image:url(../images/arr_nav_more.gif); background-repeat:no-repeat; background-position: 100% 10px;}
nav li.nav_more a.active{background-image:url(../images/arr_nav_more_on.gif);}
nav li.selected a{background: url(../images/arr_nav_active.gif) no-repeat 100% 15px #fff; color:#17408c; font-size:15px; padding:12px 0 12px 19px;}
.filter{border-right:1px solid #b7b7b7; position:relative;}
nav li.nav_etc {display:none;}
/* nav_filter */

/* aside */
aside {position:absolute; top:1px; right:0; z-index:10;}
.a_section {font-family:"돋움",dotum; background:#fff; width:218px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
.a_section h3 {display:block; position:relative;  border-bottom:1px solid #e1e1e1;}
.a_section h3 a, .a_section h3 span{display:block;  padding:0; background:url(../images/bg_arr.gif) no-repeat 100% 15px; width:200px; height:26px; padding:17px 0 0 18px; font-size:12px; font-weight:bold; color:#000}
.a_section h3 a:hover, .a_section h3 a:active, .a_section h3 a:focus{text-decoration:none;}
.a_section h3 .on {background-position:0 -15x;}

.a_section ul, .a_section ol{line-height:20px; color:#0b59a9; font-size:13px; padding:0 0 0 0;}
.a_section ul a, .a_section ol a {color:#0836a3;}
.a_section ul li{background:url(../images/ico_aside.gif) no-repeat 5px 8px; padding:0 0 0 25px;}
.aside_wrapper {padding:5px 0 14px 19px; border-bottom:1px solid #e1e1e1;}
.word_rank ol {position:relative;}
.word_rank li{ position:relative; padding:1px 50px 0 25px; margin-bottom:-1px; background:url(../images/bg_rank.gif) no-repeat 0 3px;}
.word_rank .s1 {background-position:0 4px;}
.word_rank .s2 {background-position:0 -16px;}
.word_rank .s3 {background-position:0 -36px;}
.word_rank .s4 {background-position:0 -56px;}
.word_rank .s5 {background-position:0 -76px;}
.word_rank .s6 {background-position:0 -96px;}
.word_rank .s7 {background-position:0 -116px;}
.word_rank .s8 {background-position:0 -136px;}
.word_rank .s9 {background-position:0 -156px;}
.word_rank .s10 {background-position:0 -176px;}
.word_rank li span {display:block; position:absolute; top:-2px; right:0; width:37px; height:15px; padding-left:12px; overflow:hidden; color:#555; font-family:Verdana; font-size:10px; background:url(../images/bg_rank_arr.gif) no-repeat 0 0;}
.word_rank li span em {position:absolute; top:-2000px; right:-2000px;}
.word_rank li span.up {background-position:0 0;}
.word_rank li span.down {background-position:0 -54px;}
.word_rank li span.df {background-position:0 -25px;}
.word_rank li span.new { background:none; padding-left:2px; width:47px; font-weight:bold; color:#e82828;}

.doc_classify {font-family:"돋움",dotum; background:#fff; width:218px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
.doc_classify h3 {display:block; position:relative;  border-bottom:1px solid #cccccc;}
.doc_classify h3 a, .doc_classify h3 span{display:block;  padding:0; width:200px; height:26px; padding:17px 0 0 18px; font-size:12px; font-weight:bold; color:#000}
.doc_classify h3 a:hover, .doc_classify h3 a:active, .doc_classify h3 a:focus{text-decoration:none;}
.doc_classify h3 .on {background-position:0 -15x;}

.ctr_doc {position:absolute; top:14px; right:20px;}

.doc_tab {height:24px; position:relative; overflow:hidden;}
.doc_tab ul {position:absolute; top:0; left:0;}
.doc_tab ul li {float:left; border-right:1px solid #cccccc; color:959595; border-bottom:1px solid #cccccc;}
.doc_tab ul li a, .a_tab_con ul li span {display:block; width:71px; height:18px; color:#959595; padding-top:5px; text-align:center; background:#f3f3f3;}
.doc_tab ul li a:hover, .a_tab_con ul li a:active, .a_tab_con ul li a:visited {text-decoration:none;}
.doc_tab ul li.selected a{background:#fff; color:#0b59a9; height:21px; width:73px;}

.doc_list {line-height:20px; margin:0 0 0 0; padding:8px 0 10px 19px; max-width:208px;  height:207px; overflow:scroll; white-space:nowrap; }
.doc_list ul {padding:0 0 0 10px; _margin-top:5px;}
.doc_list li a {color:#000;}
.doc_list li img{margin-right:9px; vertical-align:middle;}
.doc_list ul ul{padding:0 0 0 10px;}
.doc_list li li li{background:url(../images/bg_doc_list.gif) no-repeat 0 6px; padding:0 0 0 18px; margin-top:-1px;}

/* aside */

.box_relate_word {padding:11px 0 7px 232px; margin-right:220px;}
.box_relate_word h2 {top:10px; left:180px;}
#relate_word .box {margin-right:91px; }
#relate_word .btn {bottom:-3px; right:11px;}


#contents  {border-left:1px solid #b7b7b7; border-right:1px solid #e1e1e1; margin-top:0 !important; }
.cate_theme { padding:0 20px 0 259px; min-height:197px;}

.cate_theme .sum {border:1px solid #cccccc; position:absolute; padding:0; width:218px; height:163px; top:0; left:20px;}
.cate_person li {width:50%; float:left;}

@media only screen and (max-width : 1025px) {
.cate_person li{width:100%;}
}
.cate_person li.even {clear:both; float:left;}

.bt_top {display:inline-block; position:relative; font-size:11px; color:#777777; border:1px solid #bdbbbd; background:url(../images/ico_bt_top.gif) no-repeat 4px 7px #fff; height:17px; line-height:19px; line-height:20px \0/IE9; *line-height:17px; font-family:"돋움",dotum; letter-spacing:-1px; padding:0 4px 0 13px; margin:10px; *left:10px;}
.bt_top:hover, .bt_top:active, .bt_top:focus {text-decoration:none;}

.wdp_b {display:none;}

.filter {padding-bottom:2px; padding-top:4px;}
.filter dl {padding:0px 0 2px 0; border-bottom:1px solid #e1e1e1; _zoom:1;}
.filter dl.first {border:none;}
.filter dl.l_none{padding:0px 0 0 0; border-bottom:none;}
.filter dt {display:block; font-weight:bold; padding:16px 0 7px 9px; font-family:'굴림',Gulim;}
.filter dd{position:relative;}
.filter dd .bt_filter_sch {position:absolute; bottom:8px; right:9px;}
.filter dd.org_m {padding-bottom:33px;}
.filter_tab{background:url(../images/bg_filter_tab.gif) no-repeat 0 0; width:140px; margin-left:10px; height:22px; font-size:11px;}
.filter_tab li {float:left;}
.filter_tab li button{width:70px; height:22px; background:none; cursor:pointer; font-size:11px; font-family:'굴림',Gulim;}
:root .filter_tab li button {width:70px; padding-left:5px;}
.filter_tab li span {color:#777777; display:block; width:64px; height:19px; padding-top:3px; text-align:center; font-size:11px; font-family:'굴림',Gulim; line-height:18px;}
.filter_tab li button.selected span {color:#fff;}
:root .filter_tab li span{margin:0 -3px;}
.filter_tab li.last span {color:#636363;}
.filter_tab li a:hover,  .filler_tab li a:active {text-decoration:none;}
.filter_tab_on {background-position:0 -22px;}
.filter_tab_on li a {color:#636363;}
.filter_tab_on li.last a {color:#000000;}
.bt_reset {padding:13px 0 0 0; text-align:center;}
.filter .bt_filter {display:none;}


.user_sch {padding:0 0 0 10px; margin-bottom:3px; position:relative; *margin-top:-10px;}
.user_sch li {font-size:11px; font-family:'굴림'; color:#636363; height:22px;}
.user_sch .in_txt {border:1px solid #7f9db9; width:62px; height:14px; padding:4px 0 0 5px; font-family:'굴림'; font-size:12px; color:#000000;}
.user_sch li .bt_cal img {margin-top:2px;}
.user_sch li span {display:inline-block; vertical-align:middle; margin-top:7px;}
.no-js .user_sch{display:block;}
.js .user_sch{display:none;}

#bt_view_sum{width:140px; height:22px; margin-left:10px; background:url(../images/bt_view_sum.gif) no-repeat 0 0; margin-bottom:10px;}
.bt_view_sum_on {background-position:0 -22px !important;}
#bt_view_sum li {float:left;}
#bt_view_sum li button{width:70px; height:22px; background:none; cursor:pointer;}
#bt_view_sum li span {display:block; width:64px; height:22px; font-size:0; overflow:hidden; text-indent:-2000px;}

.s_year {margin:0 0 0 10px; overflow:hidden; padding-top:2px;}
.s_year li {font-size:11px; height:19px;}
.s_year li input {margin:-2px 4px 0 0;}

.file_type {margin:-3px 0 0 10px; line-height:19px; font-size:11px; overflow:hidden; padding-bottom:31px;}
.file_type  li {float:left; width:70px;}
.file_type input {vertical-align:middle; margin:2px 6px 0 0; *margin:-2px 2px 0 -4px;}
.file_type img {vertical-align:middle; margin:1px 3px 0 0;}
.file_type .ta_r{width:125px; *width:121px; margin-top:3px; height:21px;}

#org_m {height:175px; margin:1px 9px 0 10px; padding:3px 0 0 3px; overflow:auto; line-height:20px; font-size:11px; background:#fff; border:1px solid #e3e1e1;}
#org_m img, #org_m input {vertical-align:top;}
#org_m li img {margin:4px 0 0 0;}
#org_m li input {margin:2px 2px 0 0; *margin:-2px 2px 0 -4px;}
#org_m li label { display:inline-block; vertical-align:top; *margin:-1px 0 0 -3px;}
#org_m ul {margin:0 0 0 10px;}
#org_m ul ul {margin:0 0 0 23px;}
.org_bt{width:139px; padding-top:5px; text-align:right;}
.hd_bt {cursor:pointer;}

.title_all { position:relative; overflow:hidden; padding-bottom:7px; zoom:1;}
.title_all h2 {font-size:13px; font-family:'굴림',Gulim; color:#000; padding:8px 0 2px 19px;}
.title_all h2 em {color:#0000cc;}
.title_all h2 span {color:#959595; font-weight:normal; font-size:12px; margin-left:5px;}
.title_all ul {padding:7px 0 0 12px;}
.title_all li {float:left; color:#959595; margin-left:13px; display:inline;}

.section {border-top:1px solid #ebebeb;}
.section h2 {font-family:'굴림',Gulim; border-bottom:2px solid #0099cc; font-size:13px; font-weight:bold; padding:15px 0 7px 0; margin:0 20px 20px 19px;}
.section h2 span {font-size:12px; color:#959595; font-weight:normal; padding-left:12px;}
.section h2.tab_m {font-family:"돋움", "돋움체";}
.section h2.tab_m span{padding-left:0;}
.section h2 a {color:#959595;}
.section h3 {font-family:'굴림',Gulim; font-size:13px; padding:17px 0 12px 19px;}
.section h3 span{font-size:12px; color:#959595; font-weight:normal; padding-left:7px;}

.slide_filter {padding:0 0 28px 0; margin-bottom:8px; position:relative;}
.slide_filter label {font-size:11px; color:#000; padding:0 0 4px 9px; display:inline-block; cursor:pointer;}
.slide_filter .bt_self_input {position:absolute; bottom:0; right:9px;}
.slide_filter input[type="radio"]{width:1px; height:1px;}
:root .slide_filter input[type="radio"]{display:none;}

.no-js .slide_filter{display:none;}
.js .slide_filter{display:block;}

#slider-range-min {width:140px; height:7px; margin-left:10px;}
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width:11px; height:15px; background:url(../images/ui-slider-handle.gif) no-repeat 0 0; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; background:url(../images/ui-slider-horizontal.gif) no-repeat 0 0;}
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em;}
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%;  background:url(../images/ui-slider-range.gif) no-repeat 0 0;}
.ui-slider-horizontal .ui-slider-range-min { left: 0;}
.ui-slider-horizontal .ui-slider-range-max { right: 0;}

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.bt_m_paging {display:none;}
.top_line {background:#b3b3b3; height:1px; margin-bottom:-1px;}